<style type="text/css">
  div, li {
    font-family: Arial;
  }
</style>

<div class="notice">You must enter a valid GitHub username into the search box. The specifications are as follows:</div>

<ul>
<li>The username may only contain alphanumeric characters or hyphens.</li>
<li>The username cannot have multiple consecutive hyphens.</li>
<li>The username cannot begin or end with a hyphen.</li>
<li>The username maximum is 39 characters.</li>
</ul>

<div class="return">Click <%= link_to 'here', new_event_form_path %> to try again.</div>
